<a href="https://colab.research.google.com/github/VondracekS/ts_basics_dtse_lecture/blob/main/python_basics_crashcourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crashcourse by DTSE AIS

Welcome to our Python course. The goal is to get you acquainted with python
and programming basics. THe course does not expect you to be profficient in
any of the concept we will be dealing with.

# 1 Python Basics

In the first section, we go through the basics of Python syntax

## 1.1 Variables
- Variables are used to store data. A variable is created the moment you first assign a value to it, using the **= operator**.
- Variables do not need to be declared with any particular type, and can even change type after they have been set.
- Variable names can contain letters, numbers and underscores, but cannot start with a number. A whitespace is not allowed (is interpreted as a start of new object). Python is case-sensitive, so "a" and "A" are different variables.

## 1.2 Values
Values in python can have multiple forms, of which the most basic ones are:

1.   **strings** represent text and are declared using quotation marks: "this is string" (please note that almost all charcters are allowed except for "\\n" which represents new line)
2. **integers** representing whole numbers are defined using digits 0-9 without whitespace
3. **float** representing number with decimal points, such as 2.995
4. **bool** representing logical True/False - you cannot use True or False in variable name

One of the comon mistakes is the confusion between variable which is declared without quotation marks and some string which needs quotation marks assigned. Please run a few examples to see which cases are not allowed

##1.3 Basic numerical operations

In Python, the basic logical and numerical operations are quite straightforward and they follow basic mathematical conventions. Without going into too much detail, here I provide the basic summary:

- "+", "-" are quite straightforward
- "*" stands for multiplication and "**" stands for raising to power
- "/" is simple division, "//" is a whole number division rounded to floor, "%" returns the remainder after division
- "==" stands for equality assessment, please don't confuse with "=" which stands for assignment to variable
- "<" less ">" more, "<="/">=" inclusive of equality
- "or" and "and" are logical operators

## 1.4 Excercises

In the following cells, you can find a series of assignments. The items to be completed are marked as #TODO, there's no need to modify other code cells which might contain tests, further explanations etc.

### 1.4.1 Assigning to variable

In [2]:
print(can this be a string?)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-2-8c668f95cfd9>, line 1)

In [3]:
print("Can this be a string? YES")

Can this be a string?

In [23]:
1 = "Hello World"
print("Can I declare variable like \n ", 1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-23-b32416466204>, line 1)

In [11]:
var_1 = "Hello World"
print("Can I declare variable like var_1 = ", end = "")
print(var_1, "?")

Can I declare variable like var_1 = Hello World ?

TODO:
- Create a variable called "name" and set it to ANY name.
- Create a variable called "date_birth" and set it to ANY date of birth (use format YYYY_MM_DD).

In [14]:
# TODO: Create a variable called "name" and set it to ANY name.
# TODO: Create a variable called "date_birth" and set it to ANY date of birth (use format YYYY_MM_DD).
name = ""
date_birth = ""

In [19]:
# you can always check the value by using print(variable) command
print(name)

In [16]:
# tests of your results follow:
from datetime import datetime

def is_date_in_format(date_string: str) -> bool:
    try:
        datetime.strptime(date_string, '%Y_%m_%d')
        return True
    except ValueError:
        return False

In [17]:
assert is_date_in_format(date_birth), f"Your variable date: {date_birth} does not fulfill the required format"

AssertionError: Your variable date:  does not fulfill the required format

In [18]:
assert len(name) > 0 and isinstance(name, str), f"Your variable name: {name} does not fulfill the requirement"  # test name validity

AssertionError: Your variable name:  does not fulfill the requirement

In [ ]:
for key, value in {"name": name, "date_birth": date_birth}.items():
    print(f"Variable {key}: value {value} assigned correctly")

Variable name: value Ahoj assigned correctly
Variable date_birth: value 2023_01_01 assigned correctly

TODO: Create following variables with an appropriate data type:
- "age" and set it to an integer (whole number)
- "height" in meters and set it to a float (decimal number)
- "is_student" and set it to a boolean (True/False)
- "team" (list of colleagues from the same team, each of them is an item in the list)

In [21]:
age = None
height_m = None
weight_kg = None
is_student = None

#### 1.4.1.1 Result Check

In [22]:
assert isinstance(age, int), f"Variable age incorrectly defined"
assert isinstance(height_m, float), "Variable height_m incorrectly defined"
assert isinstance(weight_kg, int), "Variable weight_kg incorrectly defined"
assert isinstance(is_student, bool), "Variable is_student incorrectly defined"

AssertionError: Variable age incorrectly defined

### 1.4.2 Basic operations

TODO: Perform the following operations:
- Add 2 to the "age" variable
- Create a new variable called BMI and compute the value (formula is BMI = weight[kg] / height[meters]^2)
- Check if the "age" is greater than 18
- Check if the age is an odd number (hint: use modulo operator)
- Check how many times did the person celebrate 10-year-milestone birthday (hint: use whole number division)
- Check if the person is a student and is younger than 18

In [ ]:
add_age_2 = None
bmi = None
age_greater_18 = None
age_odd = None
celebrated_10_years = None
student_and_younger_than_18 = None

#### 1.4.2.1 Results check

In [ ]:
assert add_age_2 == age + 2, "Variable add_age_2 is not equal to age + 2"
assert bmi == weight_kg / height_m ** 2, "Variable bmi is not equal to weight_kg / height_m ** 2"
assert age_greater_18 == age > 18, "Variable age_greater_18 is not equal to age > 18"
assert age_odd == age % 2 != 0, "Variable age_odd is not odd"
assert celebrated_10_years == age // 10, "Variable celebrated_10_years is not equal the whole number division"
assert student_and_younger_than_18 == is_student and age < 18, "Variable student_and_younger_than_18 is not equal to is_student and age < 18"

# 2 Further Data Types Operations

## 2.1 Strings
Strings in Python are arrays of bytes representing Unicode characters.
Python does not have a character data type, a single character is simply a string with a length of 1.
Strings can be enclosed in single quotes ('...') or double quotes ("...") with the same result.
Operations on strings include:
- Concatenation: "a" + "b" = "ab"
- Multiplication: "a" * 3 = "aaa"
- Lower and upper case: "abc".upper() = "ABC", "ABC".lower() = "abc"
- Indexing: "abc"[1] = "b" (please note that Python uses 0-based indexing - first character is at index 0)
- Slicing: "abc"[1:3] = "bc" (slicing returns a substring from the start index to the end index)
- Length: len("abc") = 3
- Splitting: "a,b,c".split(",") = ["a", "b", "c"]

In [ ]:
our_basic_string = "Hello World!"

TODO:
- Add your name to the string, so it says "I am {YOUR NAME}"
- Print the string in upper case
- Print the string in lower case
- Print the first 5 characters of the string
- Separate the string into two parts: "Hello" and "World!"
- Print the length of the string

In [ ]:
basic_string_with_name = None
upper_case_string = None
lower_case_string = None
first_5_chars = None
separated_string = None
string_length = None

In [ ]:
for key, value in {"basic_string_with_name": basic_string_with_name,
                   "upper_case_string": upper_case_string,
                   "lower_case_string": lower_case_string,
                   "first_5_chars": first_5_chars,
                   "separated_string": separated_string,
                   "string_length": string_length}.items():
    print(f"{key}: {value}")

basic_string_with_name: None
upper_case_string: None
lower_case_string: None
first_5_chars: None
separated_string: None
string_length: None

## 2.2 Lists
- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets: ["apple", "banana", "cherry"]
- Operations on lists include:
- Accessing items: list[0] = "apple"
- Slicing: list[1:3] = ["banana", "cherry"]
- Length: len(list) = 3
- Adding items: list.append("orange") !!!Mutates the original object
- Removing items: list.remove("banana") !!!Mutates the original object
- Concatenate lists: ["apple", "banana", "cherry"] + ["orange", "lemon"]

TODO:
- Assign the first item of the list to a new variable
- Assign all but the first item of the list to a new variable
- Assign the length of the list to a new variable
- Append "orange" to the list
- Remove "orange" from the list
- Concatenate the list with another list ["orange", "lemon"]

In [ ]:
our_basic_list = ["apple", "banana", "cherry"]
first_item = None
all_but_first_item = None
list_length = None
appended_orange = None
removed_orange = None
concatenated_list = None

In [ ]:
for key, value in {"first_item": first_item,
                   "all_but_first_item": all_but_first_item,
                   "list_length": list_length,
                   "appended_orange": appended_orange,
                   "removed_orange": removed_orange,
                   "concatenated_list": concatenated_list}.items():
    print(f"{key}: {value}")

# 3 Conditions, Iterations and Functions

## 3.1 For Loop
The real power of programming is in the ability to repeat a task multiple times. This is called iteration.
In Python, we can iterate over a sequence of items using a for loop.
The for loop iterates over a sequence of items and executes the block of code inside the loop
once for each item in the sequence. The sequence can be a list, a tuple, a string, a range, or any other iterable object.
Here is an example of a for loop that iterates over a list of numbers and prints each number separately. Please be aware that function range() starts by default with 0

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## 3.2 Conditions

One of key programming concepts is the ability to perform different actions based on a condition.
- In python, we use the if statement to perform a certain action based on a condition.
- If the condition is True, the code inside the if statement is executed. If the condition is False, the code is skipped.
- In the followwing example, we iterrate over elements of a list and print whether the number is even or odd and how many digits it has.

In [ ]:
our_numbers = [1, 15, 26, 78, 256, 789, 2267]
for num in our_numbers:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

    if num < 10:
        print(f"{num} is a one-digit number")
    elif num > 10 and num < 100:
        print(f"{num} is a two-digit number")
    elif num > 100 and num < 1000:
        print(f"{num} is a three-digit number")
    else:
        print(f"{num} is a four-digit number")

1 is odd
1 is a one-digit number
15 is odd
15 is a two-digit number
26 is even
26 is a two-digit number
78 is even
78 is a two-digit number
256 is even
256 is a three-digit number
789 is odd
789 is a three-digit number
2267 is odd
2267 is a four-digit number

## 3.3 While loop
Another way of iteration is the so-called while loop.
- The while loop repeats a block of code as long as a specified condition is True
- The following example shows how to use a while loop to move all components from our_numbers list to a new list
called numbers_moved

In [ ]:
numbers_moved = []
while len(our_numbers) > 0:
    numbers_moved.append(our_numbers.pop(0))
    print(numbers_moved[-1])

## 3.4 Functions

Functions are a way to organize code into reusable blocks.
- Each function has its defined name, input parameters, and output value.
- In the following example, I create simple functions to indicate whether input number is even and how many digits it has

In [ ]:
def this_is_how_you_define_a_function(function_can_take_some_arguments_such_as_this_one):
  print()

In [ ]:
def is_even_number(number):
    if number % 2 == 0:
        return True
    return False

In [ ]:
def print_n_digits(number):
    return len(str(number))

In [ ]:
for num in [5, 10, 137, 0]:
  print(f"Number {num} is even: {is_even_number(num)} and has {print_n_digits(num)} digits")

Number 5 is even: False and has 1 digits
Number 10 is even: True and has 2 digits
Number 137 is even: False and has 3 digits
Number 0 is even: True and has 1 digits

TODO:
- Create a function that takes a string as input and returns the number of characters in the string
- Create a function that takes a list of numbers as input and returns the sum of the numbers
- Create a function that takes a list of numbers as input and returns the mean (using function defined above)

In [ ]:
def count_characters(string):
    pass

In [ ]:
def sum_numbers(numbers_list):
    sum_result = 0
    # TODO: Your iterations
    return sum_result

In [ ]:
def average_numbers(numbers_list):
    sum = sum_numbers(numbers_list)
    # TODO:
    pass

# 4 Further Assignments

In [ ]:
def is_palindrome(word):
    """
    Function checks if the word is a palindrome, reverse of the word is the same as the word itself
    :param word: word input
    :return: bool indicating if the word is a palindrome
    """
    word_reversed = None
    return False

def character_multiplication(word, n_times):
    """
    Function multiplies each character n_times
    :param word: word input
    :return: string with multiplied characters
    """
    # hint: use multiplication operator and iterate over all characters inside the word
    word_multiplied = ""
    return word_multiplied

def string_intersection(word1, word2):
    """
    Function returns the intersection of two strings, i.e. characters that are

    present in both words at the same
    position (in the form of string)
    :param word1: first word
    :param word2: second word
    :return: intersection of the two words
    """
    # hint: which word to use as a basis for intersection?
    return ""

def nonzero_product(input_list):
    """
    Function returns the product of all non-zero elements in the list
    :param input_list: list containing integer values
    :return: nonzero product
    """
    nonzero_product = 0
    for element in input_list:
        pass
    return nonzero_product

def get_max(input_list):
    """
    Function returns the maximum value in the list
    :param input_list: list containing integer values
    :return: maximum value
    """
    max_value = 0
    for element in input_list:
        pass
    return max_value